

.commitment {
    width: 1110px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 270px;

}
.commit__text {
    margin: 0;
    width: 540px;
    color: #333D4B;
    opacity: 0.8;
    font-family: 'Barlow', sans-serif;
    line-height: 26px;
}
.commit__tittle {
    margin: 0;
    margin-top: 70px;
    margin-bottom: 30px;
    font-size: 45px;
    color: #333D4B;
    font-family: 'Fraunces', serif;            
    font-weight: 900;
}